<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменение данных пользователя</title>
</head>
<body bgcolor="#323232">
<h1><font color="#C0C0C0">Изменение данных пользователя:</font></h1>

<font color="#C0C0C0">

<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">

    <label for="firstName">Имя: </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <div style="color:red" th:errors="*{firstName}">Name error</div>
    <br>

    <label for="secondName">Фамилия: </label>
    <input type="text" th:field="*{secondName}" id="secondName"/>
    <div style="color:red" th:errors="*{secondName}">Name error</div>
    <br>

    <label for="age">Возраст: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color:red" th:errors="*{age}">Name error</div>
    <br>

    <input type="submit" value="Изменить"/>
</form>

</font>

</body>
</html>